.categories {
  padding: 30px 60px;
  background-color: #0f1115;
  min-height: 35vh;
}

/* Heading */
.categories h2 {
  font-size: 26px;
  margin-bottom: 30px;
  font-family: Papyrus, "ITC Papyrus", sans-serif;
}

/* Container */
.category-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}

/* Card */
.category-card {
  flex: 1 1 18%;
  max-width: 280px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: translateY(-6px);
}

/* Image */
.category-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 18px;
}

/* City name */
.category-card p {
  margin-top: 12px;
  font-size: 17px;
  text-align: center;
  color: #f2f2f2;
  font-family: Papyrus, "ITC Papyrus", sans-serif;
}

/* ================= TABLET ================= */
@media (max-width: 1024px) {
  .category-card {
    flex: 1 1 30%;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .categories {
    padding: 30px 20px;
  }

  .category-list {
    justify-content: center;
    gap: 20px;
  }

  .category-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .category-card img {
    height: 200px;
  }

  .categories h2 {
    text-align: center;
  }
}
