/* Hide vertical scrollbar */

/* Optional: hide scrollbar visually (Chrome) */
body::-webkit-scrollbar {
  display: none;
}


.city-page {
  background-color: #0f1115;
  height: 100vh;
  /* overflow: hidden; */
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

/* HERO */
.city-hero {
  position: relative;
  height: 50vh;   /* increased from 40vh */
  min-height: 350px;
  max-height: 500px;
  width: 100%;
  overflow: hidden;
}

/* Image */
.city-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 40%;
  filter: brightness(0.75);
}

/* Overlay */
.city-hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.7)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Title */
.city-hero h1 {
  font-size: 48px;
  letter-spacing: 1px;
  font-family: "Lucida Handwriting", "Apple Chancery", cursive;
}


/* SECTION */
.city-section {
  flex: 1;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city-section h2 {
  font-size: 26px;
  margin-bottom: 30px;
  font-family: Papyrus, "ITC Papyrus", sans-serif;
}

/* WRAPPER */
.hotel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* GRID */
.city-grid {
  display: flex;
  gap: 30px;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* CARD */
.city-card {
  min-width: 250px;
  background: #181b20;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.city-card:hover {
  transform: translateY(-6px);
}

.city-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.city-card-content {
  padding: 16px;
  
}

.city-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .city-page {
    height: auto;
    overflow: auto;
  }

  .city-section {
    padding: 30px 20px;
  }

  .city-hero h1 {
    font-size: 28px;
  }

  .city-card {
    min-width: 240px;
  }
}
